!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title
      &gt;_ TryElixir
    - css_path = static_path(@conn, "/css/app.css")
    %link{href: "#{css_path}", rel: "stylesheet"}
  %body
    .container-fluid.head-container
      %header.header
        .row
          %h1.title
            Try Elixir
            &nbsp;
      %a.links#logo-link{href: 'http://elixir-lang.org'}
        %img#logo{src: "/images/elixir.png"}
      %a.links#github-link{href: 'https://github.com/asymmetric/try_elixir', target: '_'}
        %span.icon-github
      %a.links#blogpost{href: 'https://asymmetric.github.io/2016/03/28/tryelixir/', target: '_'}
        %span.icon-help-circled
    %main.container{role: "main"}
      = render @view_module, @view_template, assigns
    - js_path = static_path(@conn, "/js/app.js")
    %script{src: "#{js_path}"}
