@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/pacifico/pacifico-webfont.woff2'),
    url('/fonts/pacifico/pacifico-webfont.woff'),
    url('/fonts/pacifico/pacifico-webfont.ttf');
}

/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 0;
}

.head-container {
  max-height: 120px;
  padding-top: 20px;
  background-image: linear-gradient(-90deg, #008BC2, #00C28B);
}

main {
  max-height: calc(100% - 120px);
  height: 100%;
}

#logo {
  max-height: 7rem;
}

#editor {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 50%;
}

.CodeMirror {
  min-height: 100px;
  height: 100%;
}

.row.cdm {
  height: 30%;
}

#result {
  height: 100%;
  background-color: white;
}

header h1 {
  font-family: 'Pacifico';
}

header h1.title {
  font-size: 5rem;
  color: darkcyan;
}

.glyphicon-question-sign {
  font-size: 2rem;
}
