.row.cdm#editor
  .btn-group{role: "group", aria-label: "controls"}
    %button.btn.btn-default.cdm#indent{type: "Submit"}
      indent
    %button.btn.btn-default.cdm#run{type: "Submit"}
      run

.row.cdm
  %pre#result
